extends ../base.pug

block content
  h3 Products

  a(href="/products/add", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add product

  each product in products
    .media
      a(href=`/products/${product.id}`)
        .media-left
            img(src=products.imageUrl || "https://cdn0.iconfinder.com/data/icons/containers/256/palet03.png")
        .media-body
          h4= product.idnumber
          p= product.name

  if !products.length
    p No products found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) See more
